body {
  margin: 0;
  background-color: #f5f5f5;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s cubic-bezier(.76,.44,.26,1.24);
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

/* fade */
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}

.fade-enter-from {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

/*el-dialog样式修改*/
.el-dialog {
  border-radius: 12px;
}

.el-overlay {
  background: rgba(230, 230, 230, 0.3);
  backdrop-filter: blur(3px);
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}
a:hover {
  color: #409EFF;
}
a:active {
  color: #333;
}